<a href="https://colab.research.google.com/github/Sirfowahid/AutoMLLite/blob/main/TPOT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv('/content/drive/MyDrive/Projects/03. Demo /Training.csv')

In [4]:
dataset.head()

,Training,Aspect,Rainfall,SOIL,TWI,SPI,Slope,NDIV,Landuse,Geological,Elevation,Dd,Curvature
0,1,74.744904,540.265991,2,-38.351200,-0.547888,11.40180,-0.112100,1.00000,8.00000,2340,137.927002,1.28
1,1,329.036011,535.432983,2,68.288696,0.173995,5.83095,-0.060369,2.00000,6.00000,2354,124.690002,-1.28
2,1,246.800995,535.414002,2,-77.526604,-0.425340,7.61577,-0.091166,2.00000,7.88829,2340,130.602997,0.64
3,1,-1.000000,535.929016,2,-3858.179932,-0.012853,0.00000,-0.129268,3.70415,8.00000,2325,134.162994,0.00
4,1,296.565002,535.982971,2,-129.878998,-0.254116,4.47214,-0.136156,3.58101,8.00000,2324,135.453995,1.28

In [8]:
numeric_columns = []
object_columns = []

In [9]:
for i in dataset.columns:
  if(dataset[i].dtype=='object'):
    object_columns.append(i)
  else:
    numeric_columns.append(i)

In [10]:
numeric_columns

['Training',
 'Aspect',
 'Rainfall',
 'SOIL',
 'TWI',
 'SPI',
 'Slope',
 'NDIV',
 'Landuse',
 'Geological',
 'Elevation',
 'Dd',
 'Curvature']

In [11]:
object_columns

[]